html  {
    height: 100%;
    font-size: 0.7em;  /* 62.5% of 16px = 10px */
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-color: #6b747d;*/
    height: 90vh;
}

.fix{
    position: fixed;
    top: 480px;
    left: 44%;
}

.fontRed{
    font-size: 0.7rem;
    color: red;
    width: 100px;
}


.form-box {
    max-width: 500px;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
    margin-top: 100px;
    animation:opacity 1s;
}

h1, p {
    text-align: center;
}

textarea {
    width: 100%;
}

.fas{
    color: #007aff;
}


/* Effet opacité lié a animation de form-box*/
@keyframes opacity{
    from{opacity:0%;}
    to{opacity:100%;}
}